* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.leftsidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 15%;
	height: 100vh;
	background-color: #cccccc;
	/* border-right: 1px solid #aaaaaa; */
	padding-top: 25px;
}

.content {
	display: flex;
	justify-content: center;
	width: 85%;
	padding: 30px;
	background-color: #cccccc;
}

.link {
	background-color: #192028;
	padding: 15px 0;
	margin: 5px 0;
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0 15px 15px 0;
}

.link a {
	text-decoration: none;
	color: #FFD500;
}